@model IEnumerable<WebApplication1.Models.Course>
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


@*<div class="fixed-header row">
	<div class="col-md-4 col-xs-6 header-left">
		<h3>Welcome to SIMS,<strong> Ninh</strong>!</h3>
	</div>
	<div class="col-md-8 col-xs-6 add-class">
		<i type="button" class="glyphicon glyphicon-refresh" onclick="window.location='/Attendance/SynCourse'">	</i>
	</div>
</div>*@

	<div class="row">
		<div class="col-md-6">
			<h3>My Class</h3>
		</div>
		@*<div>
			@using (Html.BeginForm("Chose", "Lecturer", FormMethod.Post))
			{
				<div class="row">
					<div class="col-lg-3"  style="margin:0 auto;text-align:center">
						@Html.DropDownList("SessionID", (SelectList)ViewBag.Lesson, "Please select session", new { @class = "form-control" })
						<input type="submit" value="Chose" class="btn btn-default" />
					</div>
				</div>

				<div class="row">

				</div>
					}
				</div>*@
		<form class="navbar-form navbar-left">
			<div class="form-group ">
				<input style="border-radius:5px" type="text" id="myInput" class="form-control" placeholder="Search ...">
			</div>
		</form>
	</div>
	<hr />
	<div class="row" id="myList">
		@if (Model != null)
		{
			foreach (var item in Model)
			{
				<div class="col-sm-6 col-md-6">
					<div class="card card-outline-danger ">
						<div class="card-header">
							<h2 class="m-b-0 text-white">@item.CourseName</h2>
						</div>
						<div class="card-body">
							<h5 class="card-title">Lecturer: @item.Lecturer</h5>
							<p class="card-text">Time:  @item.DayOfWeek @item.TimeSpan</p>
							<p class="card-text">Room:  @item.Room</p>
							<a href="#" class="btn btn-inverse">Go somewhere</a>
						</div>
					</div>
				</div>
			}
		}
	</div>

<!--Dialog create new class-->
<div class="modal fade" id="myCreateClass" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Create new <strong>Class</strong></h4>
			</div>
			<div class="modal-body" id="ModalCreateClass">

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>

	</div>
</div>

<!--Dialog edit class-->
<div class="modal fade" id="myEditClass" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Edit <strong>Class</strong></h4>
			</div>
			<div class="modal-body" id="ModalEditClass">

			</div>
		</div>
		<div class="modal-footer">
		</div>
	</div>
</div>

<!--Create class-->
<script>
	function Create() {
		var url = "/Attendance/CreateClassView";
		$("#ModalCreateClass").load(url, function () {
			$("#myCreateClass").modal("show");
		})
	}
</script>
<script>
	function Edit(id) {
		var url = "/Attendance/Edit?id=" + id;
		$("#ModalEditClass").load(url, function () {
			$("#myEditClass").modal("show");
		})
	}
</script>
<script>
	function Clean() {

	}
</script>

<script>
	function Submit() {

	}
</script>


<!--search class-->
<script>
	$(document).ready(function () {
		$("#myInput").on("keyup", function () {
			var value = $(this).val().toLowerCase();
			$("#myList *").filter(function () {
				$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
			});
		});
	});
</script>





