@model IEnumerable<AttendanceManagement.Models.Course>
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<div class="row page-titles">
	<div class="col-md-5 col-8 align-self-center">
		<h3 class="text-themecolor">@AttendanceManagement.Resources.Resource.Mygroup</h3>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="javascript:void(0)">@AttendanceManagement.Resources.Resource.Group</a></li>
			<li class="breadcrumb-item active">@AttendanceManagement.Resources.Resource.Mygroup</li>
		</ol>
	</div>
	<div class="col-md-7 col-4 align-self-center">
		<div class="d-flex m-t-10 justify-content-end">
			<div class="d-flex m-r-20 m-l-10 hidden-md-down">
				<div class="chart-text m-r-10">
					<h6 class="m-b-0"><small>THIS MONTH</small></h6>
					<h4 class="m-t-0 text-info">$58,356</h4>
				</div>
				<div class="spark-chart">
					<div id="monthchart"></div>
				</div>
			</div>
			<div class="d-flex m-r-20 m-l-10 hidden-md-down">
				<div class="chart-text m-r-10">
					<h6 class="m-b-0"><small>LAST MONTH</small></h6>
					<h4 class="m-t-0 text-primary">$48,356</h4>
				</div>
				<div class="spark-chart">
					<div id="lastmonthchart"></div>
				</div>
			</div>
			<div class="">
				<button class="right-side-toggle waves-effect waves-light btn-success btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
			</div>
		</div>
	</div>
</div>


<div class="card">
	<div class="card-body bg-info">
		<h4 class="text-white card-title">My Course</h4>
	</div>
	<div class="card-body">
		<div class="message-box contact-box">
			<h2 class="add-ct-btn"><button type="button" class="btn btn-circle btn-lg btn-success waves-effect waves-dark"><i class="mdi mdi-autorenew"></i></button></h2>
			<div class="row">
				<div class="col-md-10">
					@using (Html.BeginForm("Chose", "Lecturer", FormMethod.Post))
					{
						<div class="col-lg-3">
							<div class="row">
								<div class="col-6">
									<h2>Semester</h2>
								</div>
								<div class="col-6">
									<select class="custom-select pull-left" name="GroupParent" onchange="this.form.submit()">
										<option value="@ViewBag.Semester[0]" selected>	@ViewBag.Semester[0]</option>
										@for (int i = 1; i < Enumerable.Count(ViewBag.Semester); i++)
										{
											<option value="@ViewBag.Semester[i]">@ViewBag.Semester[i]</option>
										}
									</select>
								</div>
							</div>
						</div>
					}
				</div>
				<div class="col-md-2">

					<div class="nav-item hidden-sm-down search-box">
						<a class="nav-link hidden-sm-down text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="ti-search"></i></a>
						<form class="app-search">
							<input type="text" class="form-control" id="myInput" placeholder="Search & enter"> <a class="srh-btn"><i class="ti-close"></i></a>
						</form>
					</div>
				</div>
				</div>
				<hr />
				<div class="row" id="myList">
					@if (Model != null)
					{
						foreach (var item in Model)
						{
							<div class="col-sm-6 col-md-6">
								<div class="card card-outline-success ">
									<div class="card-header">
										<h2 class="m-b-0 text-white">@item.CourseName</h2>
									</div>
									<div class="card-body">
										<h5 class="card-title">Lecturer: @item.Lecturer</h5>
										<p class="card-text">Time:  @item.DayOfWeek @item.TimeSpan</p>
										<p class="card-text">Room:  @item.Room</p>
										<a href="@Url.Action("Detailclass1","Attendance",new { id = item.ID })" class="btn btn-inverse">Detail </a>
									</div>
								</div>
							</div>
						}
					}
				</div>
			</div>
	</div>
</div>



<!--Dialog create new class-->
<div class="modal fade" id="myCreateClass" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Create new <strong>Class</strong></h4>
			</div>
			<div class="modal-body" id="ModalCreateClass">

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>

	</div>
</div>

<!--Dialog edit class-->
<div class="modal fade" id="myEditClass" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Edit <strong>Class</strong></h4>
			</div>
			<div class="modal-body" id="ModalEditClass">

			</div>
		</div>
		<div class="modal-footer">
		</div>
	</div>
</div>

<!--Create class-->
<script>
	function Create() {
		var url = "/Attendance/CreateClassView";
		$("#ModalCreateClass").load(url, function () {
			$("#myCreateClass").modal("show");
		})
	}
</script>
<script>
	function Edit(id) {
		var url = "/Attendance/Edit?id=" + id;
		$("#ModalEditClass").load(url, function () {
			$("#myEditClass").modal("show");
		})
	}
</script>
<script>
	function Clean() {

	}
</script>

<script>
	function Submit() {

	}
</script>


<!--search class-->
<script>
	$(document).ready(function () {
		$("#myInput").on("keyup", function () {
			var value = $(this).val().toLowerCase();
			$("#myList *").filter(function () {
				$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
			});
		});
	});
</script>





