@model List<AttendanceManagement.Models.studentCourseView>
@{
	int iSession = 1;
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<div class="row page-titles">
	<div class="col-md-5 col-8 align-self-center">
		<h3 class="text-themecolor">@AttendanceManagement.Resources.Resource.Mygroup</h3>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="javascript:void(0)">@AttendanceManagement.Resources.Resource.Group</a></li>
			<li class="breadcrumb-item active">@AttendanceManagement.Resources.Resource.Mygroup</li>
		</ol>
	</div>
</div>


<div class="card">
	<div class="card-body">
		<div class="message-box contact-box">
			<div class="row justify-content-center">
				<div class="col">
					<div class="row justify-content-center" style="text-align:center;font-family:serif;font-size:30px"><h2><b> Họ và tên:@Model[0].studentName </b></h2> </div>
					<div class="row justify-content-center" style="text-align:center;font-family:serif"><h3> MSSV: @Model[0].studentID </h3></div>
					<div class="row justify-content-center" style="text-align:center;font-family:serif"><h3> Ngày sinh: @Model[0].studentDoB.ToShortDateString()</h3> </div>
				</div>
			</div>
			<hr />
			<div class="row" id="myList">
				@if (Model != null && Model[0].courseName != null)
				{
					<table id="demo-foo-row-toggler" class="table toggle-circle table-hover">
						<thead>
							<tr>
								<th data-toggle="true"> # </th>
								<th>Course Name</th>
								<th>Attend</th>
								<th>Point</th>
								@foreach (var attendance in Model[0].attendanceList)
								{
									<th data-hide="all" data-toggle="tooltip" data-placement="top" title="@attendance.Date.ToShortDateString()">Sesion @(iSession++)</th>
								}
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model)
							{
								<tr>
									<td>1</td>
									<td>@item.courseName</td>
									<td>@item.attendanceCount</td>
									<td>@item.attendancePoint</td>
							
									@foreach (var i in item.attendanceList)
									{
										<td>
											@if (i.Status == "0")
											{
												if (i.Note != null)
												{
													<img data-toggle="tooltip" data-placement="top" title="@i.Note" src="~/Content/image/uncheck.png" style="width:20px;height:20px" />
												}
												else
												{
													<img src="~/Content/image/uncheck.png" style="width:20px;height:20px" />
												}
											}
											else if (i.Status != null)
											{
												if (i.Note != null)
												{
													<img data-toggle="tooltip" data-placement="top" title="@i.Note" src="~/Content/image/check.png" style="width:20px;height:20px" />
												}
												else
												{
													<img src="~/Content/image/check.png" style="width:20px;height:20px" />
												}
											}
										</td>
									}
								</tr>
							}
						</tbody>
					</table>
				}
				else
				{
					<div>Không tìm thấy khóa học nào!</div>
				}
			</div>
		</div>
	</div>
</div>

<!--search class-->
<script>
	$(document).ready(function () {
		$("#myInput").on("keyup", function () {
			var value = $(this).val().toLowerCase();
			$("#myList *").filter(function () {
				$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
			});
		});
	});
</script>





