@model IEnumerable<WebApplication.Models.User>

@{
	ViewBag.Title = "Detail";
	Layout = "~/Views/Shared/_LayoutTable.cshtml";
	int i = 1;

	var OwnerModel = ViewBag.Owner as List<WebApplication.Models.User>;
	var GroupManagerModel = ViewBag.GroupManager as List<WebApplication.Models.Group>;
	
}


<div class="col-md-12 col-sm-12 col-xs-12">
	<div class="x_panel">
		<div class="x_title">
			<div class="row">
				<h2>Group Detail</h2>
			</div>
			<div class="row" style="text-align:center">
				<div class="col-lg-2 m-t-xl">
					<input type="button" value="Back" style="margin-left: 15px;width:150px" class="btn btn-default" onclick="window.location='/Group';" />
				</div>
				<div class="col-lg-2 m-t-xl">
					<a href="~/Group/Import/@Session["GroupID"]">
						<input type="button" class="btn btn-default" style="width:150px" value="Import" />
					</a>
				</div>
				<div class="col-lg-2 m-t-xl">

					<input type="button" style="width:150px" class="btn btn-default" value="Add Owner" onclick="AddOwner()" />
				</div>
				<div class="col-lg-2 m-t-xl">

					<input type="button" style="width:150px" class="btn btn-default" value="Add Group Manager" onclick="AddManager()" />
				</div>


			</div>


			<div class="row">
				<div class="col-lg-4">
					<ul>
						Owner:
						@foreach (var item in OwnerModel)
						{
							<li>
								@item.FullName
							</li>
						}

					</ul>
				</div>
				<div class="col-lg-4">
					<ul>
						Group Manager:
						@foreach (var item in GroupManagerModel)
						{
							<li>
								@item.GroupName
							</li>
						}

					</ul>
				</div>
			</div>


			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<table id="datatable-buttons" class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>No.</th>
						<th>StID</th>
						<th>Full Name</th>
						@*<th>Last Name</th>*@
						<th>Email</th>
						<th>DoB</th>
						<th>Note</th>
					</tr>
				</thead>

				<tbody>
					@foreach (var item in Model)
					{
						<tr>
							<td>@(i++)</td>
							<td>
								@Html.DisplayFor(modelItem => item.StID)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.FullName)
							</td>
							@*<td>
									@Html.DisplayFor(modelItem => item.PhoneNumber)
								</td>*@
							<td>
								@Html.DisplayFor(modelItem => item.Email)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.DoB)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Note)
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>


<!--Add group Owner-->
<div class="modal fade" id="myAddOwner" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Add Group Owner</h4>
			</div>
			<div class="modal-body" id="ModalAddOwner">

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>

	</div>
</div>


<!--Add group Owner-->
<div class="modal fade" id="myAddManager" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Add Group Manager</h4>
			</div>
			<div class="modal-body" id="ModalAddManager">

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>

	</div>
</div>

!--Create class-->
<script>
	function AddOwner() {
		var url = "/Group/AddGroupOwner";
		$("#ModalAddOwner").load(url, function () {
			$("#myAddOwner").modal("show");
		})
	}
</script>

<script>
	function AddManager() {
		var url = "/Group/AddGroupManager";
		$("#ModalAddManager").load(url, function () {
			$("#myAddManager").modal("show");
		})
	}
</script>