@model IEnumerable<AttendanceManagement.Models.CourseMember>

@{
	//string date =
}
@if (ViewBag.date == null)
{
	<div class="card">
		<div class="card-header"><h3 style="color:white"><strong> Check Attendance</strong></h3></div>
		<div class="card-body">
			<div class="row" style="text-align:center">
				<div class="col">
					<button class="btn btn-primary" onclick="choice()">Please choice session</button>
				</div>
			</div>

		</div>
	</div>
}
else
{
	<div class="card card-outline-warning">
		<div class="card-header"><h3 style="color:white"><strong> Check Attendance</strong></h3></div>
		<div class="card-body">

			<div class="row">
				<div class="col-lg-3">
					<button type="button" id="btnCheckAttendance" class="btn waves-effect waves-light btn-block btn-info">Check Attendance</button>
				</div>
			</div>
			<div class="table-responsive m-t-40">
				<table id="tableattendance" name="atten" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th style="display:none"></th>
							<th style="text-align:center">@ViewBag.date</th>
							<th>Point</th>
							<th>Name</th>
							<th>MSSV</th>
							<th>Birthday</th>
							<th>Note</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
						{
							<tr>
								<td style="display:none">
									<input type="text" value="@item.ID" name="memberID" />
								</td>
								<td align="center">
									<input type="checkbox" />
								</td>
								<td>
									<select class="custom-select" style="display:none" name="status">
										<option value="-9">-9</option>
										<option value="-8">-8</option>
										<option value="-7">-7</option>
										<option value="-6">-6</option>
										<option value="-5">-5</option>
										<option value="-4">-4</option>
										<option value="-3">-3</option>
										<option value="-2">-2</option>
										<option value="-1">-1</option>
										<option value="0" selected>0</option>
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										<option value="6">6</option>
										<option value="7">7</option>
										<option value="8">8</option>
										<option value="9">9</option>
										<option value="10">10</option>
									</select>
								</td>
								<td>@item.Name</td>
								<td>@item.StudentID</td>
								<td>@item.DoB.Value.ToShortDateString()</td>
								<td>
									<div class="text" contenteditable="true">
										<input style="display:none" value="" class="textcontent" type="text" name="note" />
									</div>
								</td>

							</tr>
						}
					</tbody>
				</table>
			</div>

		</div>
	</div>

}

	<script>
	$(document).ready(function () {
		var table = $("#tableattendance tbody")
		table.find('tr').each(function (i, el) {
			var $tds = $(this).find('td'),
				memberID = $tds.eq(0).children('input').val(),
				status = $tds.eq(2).children('select').children('option:selected').val(),
				note = $tds.eq(6).children('div').children('input').val(),
				studentID = $tds.eq(4).html();
			var data = [studentID, memberID, status, note]
			var att = new attendance(data)
			localStorage.setItem(att.studentID, JSON.stringify(att))
		});

		$('table').on('click', '[type=checkbox]', function () {
			var currentTR = $(this).closest('tr');
			var checkBox = currentTR.find("[type=checkbox]");
			var row = currentTR.find("select.custom-select");

			if (checkBox.prop('checked') == true) {
				row.show("fast");
				row.val('10')
			} else {
				row.hide("fast");
				row.val('0')
			}
			var $tds = currentTR.find('td'),
				memberID = $tds.eq(0).children('input').val(),
				status = $tds.eq(2).children('select').children('option:selected').val(),
				note = $tds.eq(6).children('div').children('input').val(),
				studentID = $tds.eq(4).html();
			var data = [studentID, memberID, status, note]
			var att = new attendance(data)
			localStorage.setItem(att.studentID, JSON.stringify(att))
		});
		$('table').on('change', "select.custom-select", function () {
			var currentTR = $(this).closest('tr');
			var $tds = currentTR.find('td'),
				memberID = $tds.eq(0).children('input').val(),
				status = $tds.eq(2).children('select').children('option:selected').val(),
				note = $tds.eq(6).children('div').children('input').val(),
				studentID = $tds.eq(4).html();
			var data = [studentID, memberID, status, note]
			var att = new attendance(data)
			localStorage.setItem(att.studentID, JSON.stringify(att))
		});
		$(document).on('input', "div.text", function () {
			var currentTR = $(this).closest('tr');
			var row = currentTR.find("div.text").text();
			var text = currentTR.find("input.textcontent");
			text.attr("value", row);

			var $tds = currentTR.find('td'),
				memberID = $tds.eq(0).children('input').val(),
				status = $tds.eq(2).children('select').children('option:selected').val(),
				note = $tds.eq(6).children('div').children('input').val(),
				studentID = $tds.eq(4).html();
			var data = [studentID, memberID, status, note]
			var att = new attendance(data)
			localStorage.setItem(att.studentID, JSON.stringify(att))
		});
		$(document).on('click', "#btnCheckAttendance", function () {
			var attendance = new Array();
			var table = $("#tableattendance tbody")
			table.find('tr').each(function (i, el) {
				var $tds = $(this).find('td'),
					studentID = $tds.eq(4).html();
				var student = JSON.parse(localStorage.getItem(studentID));
				var att = {};
				att.studentID = student.studentID;
				att.memberID = student.memberID;
				att.status = student.status;
				att.note = student.note;
				attendance.push(att);
			});
			localStorage.clear();
			$.ajax({
				type: "POST",
				url: "/Attendance/CheckAttendance",
				data: JSON.stringify(attendance),
				contentType: "application/json; charset=utf-8",
				dataType: "json",
				success: function (response) {
					var id = @Session["CourseID"];
					alert(id);
					var url = '@Url.Action("Detailclass1", "Attendance", new { id = "__id__" })';
					alert(url);
					window.location.href = url.replace('__id__', id);
				}
			});
		});
	});

	function attendance(data) {
		this.studentID = data[0]
		this.memberID = data[1];
		this.status = data[2];
		this.note = data[3];
	}
	</script>

<script>

</script>
<!--move lines-->
<script>
	$('table').on('click', '[type=checkbox]', function () {
		var $this = $(this);
		var row = $this.closest('tr');
		if ($this.prop('checked')) { // move to top

			row.insertAfter(row.parent().find('tr:last-child'))
		}
		else { // move to bottom

			row.insertBefore(row.parent().find('tr:first-child'))
		}
	});
</script>



@*<script type="text/javascript">
		$(document).ready(function () {
			$('#tableattendance').DataTable({
				paging: false,
				dom: 'Bfrtip',
				buttons: [
					'copy', 'excel', 'pdf', 'print'
				]
			});
			var table = $('#tableattendance').DataTable();
			table.button().add(0, {
				action: function (e, dt, button, config) {
					var url = "/GroupManagement/Group/AddGroupManager";
					$("#ModalAddManager").load(url, function () {
						$("#myAddManager").modal("show");
					})
				},
				text: 'Check Attendance'
			});
			table.button().add(0, {
				action: function (e, dt, button, config) {
					var url = "/GroupManagement/Group/AddGroupManager";
					$("#ModalAddManager").load(url, function () {
						$("#myAddManager").modal("show");
					})
				},
				text: 'Back'
			});
		})
	</script>*@
