@model IEnumerable<AttendanceManagement.Models.Course>
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_MainLayout.cshtml";
}



<link href="~/Content/Attendance.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="~/Scripts/bootstrap-datepicker.min.js"></script>
<link href="~/Content/bootstrap-datepicker3.css" rel="stylesheet" />


<div class="fixed-header row">
	<div class="col-md-4 col-xs-6 header-left">
		<h3>Welcome to SIMS,<strong> Ninh</strong>!</h3>
	</div>
	<div class="col-md-8 col-xs-6 add-class">
		<i type="button" class="glyphicon glyphicon-refresh" onclick="window.location='/Attendance/SynCourse'">	</i>
	</div>
</div>
<div class="attendance-content">
	<div class="row">
		<div class="col-md-6">
			<h3>My Class</h3>
		</div>
		@*<div>
			@using (Html.BeginForm("Chose", "Lecturer", FormMethod.Post))
			{
				<div class="row">
					<div class="col-lg-3"  style="margin:0 auto;text-align:center">
						@Html.DropDownList("SessionID", (SelectList)ViewBag.Lesson, "Please select session", new { @class = "form-control" })
						<input type="submit" value="Chose" class="btn btn-default" />
					</div>
				</div>

				<div class="row">

				</div>
					}
				</div>*@
		<form class="navbar-form navbar-left">
			<div class="form-group ">
				<input style="border-radius:5px" type="text" id="myInput" class="form-control" placeholder="Search ...">
			</div>
		</form>
	</div>
	<hr />
	<div class="row" id="myList">
		@if (Model != null)
		{
			foreach (var item in Model)
			{
				<div class="col-sm-6 col-md-3">
					<div class="thumbnail">
						<div class="caption">
							<h3><strong><a href="~/Attendance/manageClass/@item.ID">@item.CourseName</a></strong></h3>
							<p>Lecturer: @item.Lecturer</p>
							<p>Time:  @item.DayOfWeek @item.TimeSpan</p>
							<p>Room:  @item.Room</p>
							@*<i type="button" class="btn btn-primary" onclick="Edit(@item.ID)">Edit Class</i>*@
						</div>
					</div>
				</div>
			}
		}

	</div>

</div>
<div class="text-center">
	<nav aria-label="Page navigation">
		<ul class="pagination">
			<li>
				<a href="#" aria-label="Previous">
					<span aria-hidden="true">&laquo;</span>
				</a>
			</li>
			<li><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">5</a></li>
			<li>
				<a href="#" aria-label="Next">
					<span aria-hidden="true">&raquo;</span>
				</a>
			</li>
		</ul>
	</nav>
</div>

<!--Dialog create new class-->
<div class="modal fade" id="myCreateClass" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Create new <strong>Class</strong></h4>
			</div>
			<div class="modal-body" id="ModalCreateClass">

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>

	</div>
</div>

<!--Dialog edit class-->
<div class="modal fade" id="myEditClass" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Edit <strong>Class</strong></h4>
			</div>
			<div class="modal-body" id="ModalEditClass">

			</div>
		</div>
		<div class="modal-footer">
		</div>
	</div>
</div>

<!--Create class-->
<script>
	function Create() {
		var url = "/Attendance/CreateClassView";
		$("#ModalCreateClass").load(url, function () {
			$("#myCreateClass").modal("show");
		})
	}
</script>
<script>
	function Edit(id) {
		var url = "/Attendance/Edit?id=" + id;
		$("#ModalEditClass").load(url, function () {
			$("#myEditClass").modal("show");
		})
	}
</script>
<script>
	function Clean() {

	}
</script>

<script>
	function Submit() {

	}
</script>


<!--search class-->
<script>
	$(document).ready(function () {
		$("#myInput").on("keyup", function () {
			var value = $(this).val().toLowerCase();
			$("#myList *").filter(function () {
				$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
			});
		});
	});
</script>





