@model List<AttendanceManagement.Models.Session>
@{
	int i = 1;
}
<link href="~/Content/assets/bootstrap-material-datetimepicker.css" rel="stylesheet">
<!-- Page plugins css -->
<link href="~/Content/assets/jquery-clockpicker.min.css" rel="stylesheet">
<!-- Date picker plugins css -->
<link href="~/Content/assets/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
<!-- Daterange picker plugins css -->
<link href="~/Content/assets/bootstrap-timepicker.min.css" rel="stylesheet">
<link href="~/Content/assets/daterangepicker.css" rel="stylesheet">




<div class="card">
	<div class="card-body bg-success">
		<h4 class="text-white card-title">Session Management</h4>
	</div>
	@if (Model.Count == 0)
	{
		<div class="card-body">
			<div class="message-box contact-box">
				<h2 class="add-ct-btn"><button type="button" class="btn btn-circle btn-lg btn-info waves-effect waves-dark" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i></button></h2>
				<div class="message-widget contact-widget">
					<div class="card-body collapse show">
						<div class="row" style="text-align:center">
							<div class="col">
								<button class="btn btn-primary" data-toggle="modal" data-target="#myModal" >Please create session</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	}
	else
	{
		<div class="card-body">
			<div class="message-box contact-box">
				<h2 class="add-ct-btn"><button type="button" class="btn btn-circle btn-lg btn-info waves-effect waves-dark" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i></button></h2>
				<div class="message-widget contact-widget">
					<div class="card-body collapse show">
						<div class="row pull-right">
							<button type="button" class="btn btn-info waves-effect waves-dark" onclick="location.href = '@Url.Action("ExportExcel", "Attendance")';">Attendance Excel Template</button>
						</div>
						<div class="table-responsive">
							<table class="table product-overview">
								<thead>
									<tr>
										<th>#</th>
										<th>Date</th>
										<th>Present</th>
										<th>Status</th>
										<th>Actions</th>
									</tr>
								</thead>
								<tbody>
									@foreach (var item in Model)
									{
										<tr>
											<td>Buổi @(i++)</td>
											<td>
												@item.Time
												<br />
												@item.Date.Value.ToShortDateString()
											</td>
											<td>20</td>
											<td>
												<button type="button" class="btn waves-effect waves-light btn-block btn-info" onclick="checkattendance(@item.ID)">Check Attendance</button>
												<button type="button" class="btn waves-effect waves-light btn-block btn-danger" onclick="GenCode(@item.ID)">QR Attendance</button>
											</td>
											<td>
												<button type="button" onclick="Edit(@item.ID)">
													<i class="ti-marker-alt"></i>
												</button>
												<form action="/AttendanceManagement/Session/Delete" method="post">
													<input type="text" name="sessionID" value="@item.ID" style="display:none" />
													<button type="submit">
														<i class="ti-trash"></i>
													</button>
												</form>
											</td>
										</tr>
									}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	}

</div>

<!-- .modal for add task -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Create Session</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
			</div>
			<div class="modal-body">
				<form action="/AttendanceManagement/Session/Create" method="post">
					<label for="total-week">Total Week</label>
					<div class="form-group">
						<div class="form-line">
							<input type="text" name="TotalWeek" class="form-control" onkeypress="return allowOnlyNumber(event);">
						</div>
					</div>
					<label for="start_day">Date</label>
					<div class="input-group">
						<input type="text" class="form-control" id="datepicker-autoclose" name="StartDate" placeholder="dd/mm/yyyy">
						<span class="input-group-addon"><i class="icon-calender"></i></span>
					</div>
					<label for="time">Time</label>
					<div class="input-group clockpicker " data-placement="bottom" data-align="top" data-autoclose="true">
						<input type="text" class="form-control" name="Time" placeholder="hh:mm"> <span class="input-group-addon"> <span class="fa fa-clock-o"></span> </span>
					</div>
					<br>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-success">Submit</button>
					</div>
				</form>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- /.modal -->
<div class="modal fade" id="myEditSession" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Add <strong>Student</strong></h4>
			</div>
			<div class="modal-body" id="ModalEditSession">

			</div>
		</div>
		<div class="modal-footer">
		</div>
	</div>
</div>
<div class="modal fade" id="generateQRcode" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">QR <strong>Code</strong></h4>
			</div>
			<div class="modal-body" id="ModalgenerateQRcode">

			</div>
		</div>
		<div class="modal-footer">

		</div>
	</div>
</div>
<script src="~/Content/assets/jquery.min.js"></script>
<script>
	function Edit(id) {
		var url = "/AttendanceManagement/Session/Edit?id=" + id;
		$("#ModalEditSession").load(url, function () {
			$("#myEditSession").modal("show");
		})
	}
	function GenCode(id) {
		var url = "/Attendance/Generate?id=" + id;
		$("#ModalgenerateQRcode").load(url, function () {
			$("#generateQRcode").modal("show");
		})
	}
</script>

<script src="~/Content/assets/moment.js"></script>
<script src="~/Content/assets/bootstrap-material-datetimepicker.js"></script>
<!-- Clock Plugin JavaScript -->
<script src="~/Content/assets/jquery-clockpicker.min.js"></script>
<!-- Date Picker Plugin JavaScript -->
<script src="~/Content/assets/bootstrap-datepicker.min.js"></script>
<!-- Date range Plugin JavaScript -->
<script src="~/Content/assets/bootstrap-timepicker.min.js"></script>
<script src="~/Content/assets/daterangepicker.js"></script>
<script type="text/javascript">
	$('#single-input').clockpicker({
		placement: 'bottom',
		align: 'left',
		autoclose: true,
		'default': 'now'
	});
	$('.clockpicker').clockpicker({
		donetext: 'Done',
	}).find('input').change(function () {
		console.log(this.value);
	});
	$('#check-minutes').click(function (e) {
		// Have to stop propagation here
		e.stopPropagation();
		input.clockpicker('show').clockpicker('toggleView', 'minutes');
	});
	if (/mobile/i.test(navigator.userAgent)) {
		$('input').prop('readOnly', true);
	}
	// Date Picker
	jQuery('#datepicker-autoclose').datepicker({
		format: 'dd/mm/yyyy',
		autoclose: true,
		todayHighlight: true
	});
</script>
<script>
	function allowOnlyNumber(evt) {
		var charCode = (evt.which) ? evt.which : event.keyCode
		if (charCode > 31 && (charCode < 48 || charCode > 57))
			return false;
		return true;
	}

	function checkattendance(id) {
		$.ajax({
			type: "POST",
			url: "/AttendanceManagement/Attendance/GetDateAttendance?id=" + id,
			contentType: "application/json; charset=utf-8",
			dataType: "json",
			success: function (res) {
				$("#sessionDate").addClass("hide");
				$("#listAttendance").removeClass("hide");

				window.onbeforeunload = function () {
					return 'You have unsaved changes!';
				}

				$("#thDate").html(res.replace(/"/g, ''));
				$('[href="#tab4"]').tab('show');
				window.scrollTo(0, 0);
			}
		});
	}
</script>
<script>
	$('table').on('click', '[type=submit]', function (e) {
		e.preventDefault();
		var form = $(this).parents('form');
		swal({
			title: "Are you sure?",
			text: "You will not be able to recover this session",
			type: "warning",
			showCancelButton: true,
			confirmButtonColor: "#DD6B55",
			confirmButtonText: "Yes, delete it!",
			closeOnConfirm: false
		}, function (isConfirm) {
			if (isConfirm) {
				Cookies.set('just_delete', 'true');
				form.submit();
			}
		});
	});
</script>