@model IEnumerable<WebApplication.Models.Group>

@{
	ViewBag.Title = "Create";
	Layout = "~/Views/Shared/_MainLayout.cshtml";

}
<div class="row page-titles">
	<div class="col-md-5 col-8 align-self-center">
		<h3 class="text-themecolor">@WebApplication.Resources.Resource.Mygroup</h3>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="javascript:void(0)">@WebApplication.Resources.Resource.Group</a></li>
			<li class="breadcrumb-item active">@WebApplication.Resources.Resource.Mygroup</li>
		</ol>
	</div>
</div>

	<div class="row">
		<div class="col-lg-12">
			<div class="card card-outline-danger">
				<div class="card-header">
					<h4 class="m-b-0 text-white">@WebApplication.Resources.Resource.Group</h4>
				</div>
				<div class="card-body">
					<form action="~/Group/Create" method="post">
						<div class="form-body">
							<h3 class="card-title">Create new group</h3>
							<hr>
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label">Group Name</label>
									<input type="text" name="GroupName" class="form-control">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label">Group Description</label>
									<input type="text" name="GroupDescription" class="form-control">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label">Group Type</label>
									<select class="form-control" name="GroupType">
										<option>--Select Group Type--</option>
										<option value="true">Public Group</option>
										<option value="false">Private Group</option>
									</select>
								</div>
							</div><div class="col-md-6">
								<div class="form-group">
									<label>Group parent</label>
									<select class="form-control" name="GroupParent">
										<option>--Select Group paren--</option>
										@foreach (var item in Model)
										{
											<option value="@item.ID">@item.GroupName</option>
										}
									</select>
								</div>
							</div>
								  <div class="form-actions">
								  	<button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Create</button>
								  	@Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-inverse" })
								  </div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div>
		<span class="label label-danger" style="font-size: 15px;color:white">@TempData["ErrorMessage"]</span>
	</div>



<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

