@model List<WebApplication.Models.User>

@{
	ViewBag.Title = "Create";
	Layout = "~/Views/Shared/_MainLayout.cshtml";

}
<div class="row page-titles">
	<div class="col-md-5 col-8 align-self-center">
		<h3 class="text-themecolor">@WebApplication.Resources.Resource.Mygroup</h3>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="javascript:void(0)">@WebApplication.Resources.Resource.Group</a></li>
			<li class="breadcrumb-item active">@WebApplication.Resources.Resource.Creategroup</li>
		</ol>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="card card-outline-danger">
			<div class="card-header">
				<h4 class="m-b-0 text-white">@WebApplication.Resources.Resource.Group</h4>
			</div>
			<div class="card-body">
				<form action="~/Group/Create" method="post" onsubmit="return checkGroupName()">
					<div class="form-body">
						<h3 class="card-title">@WebApplication.Resources.Resource.Creategroup</h3>
						<hr>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">@WebApplication.Resources.Resource.GroupName</label>
								<input type="text" name="GroupName" id="groupNameCreate" class="form-control">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">@WebApplication.Resources.Resource.GroupDes</label>
								<input type="text" name="GroupDescription" class="form-control">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">@WebApplication.Resources.Resource.AddMember</label>
								<select class="js-example-basic-multiple" name="MemberUserID" multiple="multiple">
									@foreach (var item in Model)
									{
										<option value="@item.ID">@item.Email</option>
									}
								</select>
							</div>
						</div>

						<div class="form-actions">
							<button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> @WebApplication.Resources.Resource.Create</button>
							@Html.ActionLink(@WebApplication.Resources.Resource.Cancel, "Index", null, new { @class = "btn btn-inverse" })
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<script src="~/Content/assets/jquery.min.js"></script>
<script>
	$(document).ready(function () {
		$('.js-example-basic-multiple').select2({ width: '100%' });
	});

	function checkGroupName() {
		if ($('#groupNameCreate').val() == "") {
			$.toast({
				heading: 'Error',
				text: 'Please fill group name',
				position: 'top-right',
				loaderBg: '#ff6849',
				icon: 'error',
				hideAfter: 5000,
				stack: 6
			});
			return false;
		} else {
			Cookies.set('just_create', 'true');
		}
	}
</script>