@model IEnumerable<WebApplication.Models.User>

@{
	ViewBag.Title = "Detail";
	Layout = "~/Views/Shared/_MainLayout.cshtml";
	int i = 1;

	var GroupParent = ViewBag.GroupParent as List<WebApplication.Models.Group>;
	var OwnerModel = ViewBag.Owner as List<WebApplication.Models.User>;
	var GroupManagerModel = ViewBag.GroupManager as List<WebApplication.Models.Group>;

}
<div class="row page-titles">
	<div class="col-md-5 col-8 align-self-center">
		<h3 class="text-themecolor">@WebApplication.Resources.Resource.Mygroup</h3>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="javascript:void(0)">@WebApplication.Resources.Resource.Group</a></li>
			<li class="breadcrumb-item active">@WebApplication.Resources.Resource.Mygroup</li>
		</ol>
	</div>
</div>

<div class="card card-outline-danger">
	<div class="card-header" style="color:black">@WebApplication.Resources.Resource.GroupDetail</div>
	<div class="card-body">
		<div class="row">
			@{ Html.RenderPartial("~/Views/Partial/groupLink.cshtml", GroupParent); }
		</div>
		<br />

		<div class="row">
			<div class="col-lg-6">
				<h4><strong>@WebApplication.Resources.Resource.GroupOwner</strong></h4>
				<ul>
					@foreach (var item in OwnerModel)
					{
						<li>
							@item.LastName	@item.FirstName
						</li>
					}
				</ul>
			</div>
			<div class="col-lg-6">
				<h4><strong>@WebApplication.Resources.Resource.GroupManager</strong></h4>
				<ul>
					@foreach (var item in GroupManagerModel)
					{
						<li>
							@item.GroupName
						</li>
					}
				</ul>
			</div>
		</div>

		<div class="table-responsive m-t-40">
			<table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th>No.</th>
						<th>Avatar</th>
						<th>StID</th>
						<th>Full Name</th>
						<th>Email</th>
						<th>DoB</th>
						<th>Note</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
					<tr>
						<td>@(i++)</td>
						<td>
							<img src="data:image/png;base64,@item.AvatarBase64" alt="Avatar" />
						</td>
						<td>
							@item.StID
						</td>
						<td>
							@item.LastName  @item.FirstName
						</td>
						<td>
							@item.Email
						</td>
						<td>
							@item.DoB.Value.ToShortDateString()
						</td>
						<td>
							@item.Note
						</td>
					</tr>
					}
				</tbody>

			</table>
		</div>
	</div>
</div>
<script src="~/Content/assets/jquery.min.js"></script>
<script type="text/javascript">
	$(document).ready(function () {
		$('#example23').DataTable({
			paging: false,
			dom: 'Bfrtip',
			buttons: [
				'copy', 'excel', 'pdf', 'print'
			]
		});
		var table = $('#example23').DataTable();
		var role = "@ViewBag.UserRole";
		if (role == "Group Owner") {

		table.button().add(0, {
			action: function (e, dt, button, config) {
				var url = "/GroupManagement/Group/AddGroupManager";
				$("#ModalAddManager").load(url, function () {
					$("#myAddManager").modal("show");
				})
			},
			text: 'add group'
		});
		table.button().add(0, {
			action: function (e, dt, button, config) {
				var url = "/GroupManagement/Group/AddGroupOwner";
				$("#ModalAddOwner").load(url, function () {
					$("#myAddOwner").modal("show");
				})
			},
			text: 'add owner'
		});
		table.button().add(0, {
			action: function (e, dt, button, config) {
				window.location = '/GroupManagement/Group/Import/@Session["GroupID"]';
			},
			text: 'import Student'
		});
			table.button().add(0, {
				action: function (e, dt, button, config) {
					var url = "/GroupManagement/Group/AddStudent";
					$("#ModalAddStudent").load(url, function () {
						$("#myAddStudent").modal("show");
					})
				},
				text: 'Add Student'
			});
		}
		
		table.button().add(0, {
			action: function (e, dt, button, config) {
				window.location = '/GroupManagement/Group';
			},
			text: 'back'
		});
	})
</script>


<!--Add group Owner-->
<div class="modal fade" id="myAddStudent" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Add Student</h4>
			</div>
			<div class="modal-body" id="ModalAddStudent">

			</div>
			<div class="modal-footer">
			</div>
		</div>

	</div>
</div>



<!--Add group Owner-->
<div class="modal fade" id="myAddOwner" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Add Group Owner</h4>
			</div>
			<div class="modal-body" id="ModalAddOwner">

			</div>
			<div class="modal-footer">
			</div>
		</div>

	</div>
</div>


<!--Add group Owner-->
<div class="modal fade" id="myAddManager" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Create new faculty</h4>
			</div>
			<div class="modal-body" id="ModalAddManager">

			</div>
			<div class="modal-footer">
			</div>
		</div>
	</div>
</div>
<script>
	$(document).ready(function () {
		var justCreate = Cookies.get('just_create');
		if (justCreate) {
			swal({
				title: "Create!",
				text: "Create Successful",
				type: "success",
				closeOnConfirm: true
			});
			Cookies.remove('just_create');
		}

		var justAddStudent = Cookies.get('just_addStudent');
		if (justAddStudent == "success") {
			swal({
				title: "Add!",
				text: "Add Student Successful",
				type: "success",
				closeOnConfirm: true
			});
			Cookies.remove('just_addStudent');
		}
		else if (justAddStudent =="fail")
		{
			swal({
				title: "Add!",
				text: "Student is already exist",
				type: "error",
				closeOnConfirm: true
			});
			Cookies.remove('just_addStudent');
		}

		var justaddOwner = Cookies.get('just_addOwner');
		if (justaddOwner == "success") {
			swal({
				title: "Add!",
				text: "Add Group Owner Successful",
				type: "success",
				closeOnConfirm: true
			});
			Cookies.remove('just_addOwner');
		}
		else if (justaddOwner == "fail"){
			swal({
				title: "Add!",
				text: "Owner is already exist",
				type: "error",
				closeOnConfirm: true
			});
			Cookies.remove('just_addOwner');
		}

		var justaddGroup = Cookies.get('just_addGroup');
		if (justaddGroup == "success") {
			swal({
				title: "Add!",
				text: "Add Group Manager Successful",
				type: "success",
				closeOnConfirm: true
			});
			Cookies.remove('just_addGroup');
		}
		else if (justaddGroup == "fail"){
			swal({
				title: "Add!",
				text: "Group Manager is already exist",
				type: "error",
				closeOnConfirm: true
			});
			Cookies.remove('just_addGroup');
		}


		var justImportStudent = Cookies.get('jusy_Importstudent');
		var justExitsStudent = Cookies.get('just_ExitsStudent');
		if (justImportStudent > 0) {
			if (justExitsStudent > 0) {
				swal({
					title: "Import Student!",
					text: "Import " + justImportStudent + " student successful and " + justExitsStudent + " student is already exist",
					type: "success",
					closeOnConfirm: true
				});
				Cookies.remove('jusy_Importstudent');
				Cookies.remove('just_ExitsStudent');
			} else {
				swal({
					title: "Import Student!",
					text: "Import " + justImportStudent + " student successful",
					type: "success",
					closeOnConfirm: true
				});
				Cookies.remove('jusy_Importstudent');
				Cookies.remove('just_ExitsStudent');
			}
		} else {
			if (justExitsStudent > 0) {
				swal({
					title: "Import Student!",
					text: "All student is already exist",
					type: "error",
					closeOnConfirm: true
				});
				Cookies.remove('jusy_Importstudent');
				Cookies.remove('just_ExitsStudent');
			}
		}
	});
</script>