@model IEnumerable<WebApplication.Models.User>

@{
	ViewBag.Title = "Detail";
	Layout = "~/Views/Shared/_MainLayout.cshtml";
	int i = 1;
	
	var GroupParent = ViewBag.GroupParent as List<WebApplication.Models.Group>;
	var OwnerModel = ViewBag.Owner as List<WebApplication.Models.User>;
	var GroupManagerModel = ViewBag.GroupManager as List<WebApplication.Models.Group>;

}
<div class="row page-titles">
	<div class="col-md-5 col-8 align-self-center">
		<h3 class="text-themecolor">@WebApplication.Resources.Resource.Mygroup</h3>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="javascript:void(0)">@WebApplication.Resources.Resource.Group</a></li>
			<li class="breadcrumb-item active">@WebApplication.Resources.Resource.Mygroup</li>
		</ol>
	</div>
	<div class="col-md-7 col-4 align-self-center">
		<div class="d-flex m-t-10 justify-content-end">
			<div class="d-flex m-r-20 m-l-10 hidden-md-down">
				<div class="chart-text m-r-10">
					<h6 class="m-b-0"><small>THIS MONTH</small></h6>
					<h4 class="m-t-0 text-info">$58,356</h4>
				</div>
				<div class="spark-chart">
					<div id="monthchart"></div>
				</div>
			</div>
			<div class="d-flex m-r-20 m-l-10 hidden-md-down">
				<div class="chart-text m-r-10">
					<h6 class="m-b-0"><small>LAST MONTH</small></h6>
					<h4 class="m-t-0 text-primary">$48,356</h4>
				</div>
				<div class="spark-chart">
					<div id="lastmonthchart"></div>
				</div>
			</div>
			<div class="">
				<button class="right-side-toggle waves-effect waves-light btn-success btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
			</div>
		</div>
	</div>
</div>

<div class="card card-outline-danger">
	<div class="card-header" style="color:black">Group Detail</div>
	<div class="card-body">
		<div class="row">
			@{	Html.RenderPartial("~/Views/Partial/groupLink.cshtml", GroupParent); }
		</div>
		<br />

		<div class="row">
			<div class="col-lg-6">
				<h4><strong>Group Owner:</strong></h4>
				<ul>
					@foreach (var item in OwnerModel)
					{
						<li>
							@item.FirstName
						</li>
					}
				</ul>
			</div>
			<div class="col-lg-6">
				<h4><strong>Group Manager:</strong></h4>
				<ul>
					@foreach (var item in GroupManagerModel)
					{
						<li>
							@item.GroupName
						</li>
					}
				</ul>
			</div>
		</div>

		<div class="table-responsive m-t-40">
			<table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th>No.</th>
						<th>StID</th>
						<th>Full Name</th>
						<th>Email</th>
						<th>DoB</th>
						<th>Note</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						<tr>
							<td>@(i++)</td>
							<td>
								@item.StID
							</td>
							<td>
								@item.FirstName  @item.LastName
							</td>
							<td>
								@item.Email
							</td>
							<td>
								@item.DoB.Value.ToShortDateString()
							</td>
							<td>
								@item.Note
							</td>
						</tr>
					}
				</tbody>

			</table>
		</div>
	</div>
</div>
<script src="~/Content/assets/jquery.min.js"></script>
<script type="text/javascript">
	$(document).ready(function () {
		$('#example23').DataTable({
			paging: false,
			dom: 'Bfrtip',
			buttons: [
				'copy', 'excel', 'pdf', 'print'
			]
		});
		var table = $('#example23').DataTable();
		table.button().add(0, {
			action: function (e, dt, button, config) {
				var url = "/GroupManagement/Group/AddGroupManager";
				$("#ModalAddManager").load(url, function () {
					$("#myAddManager").modal("show");
				})
			},
			text: 'add group'
		});
		table.button().add(0, {
			action: function (e, dt, button, config) {
				var url = "/GroupManagement/Group/AddGroupOwner";
				$("#ModalAddOwner").load(url, function () {
					$("#myAddOwner").modal("show");
				})
			},
			text: 'add owner'
		});
		table.button().add(0, {
			action: function (e, dt, button, config) {
				window.location = '/GroupManagement/Group/Import/@Session["GroupID"]';
			},
			text: 'import'
		}); table.button().add(0, {
			action: function (e, dt, button, config) {
				window.location = '/GroupManagement/Group';
			},
			text: 'back'
		});
	})
</script>



<!--Add group Owner-->
<div class="modal fade" id="myAddOwner" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Add Group Owner</h4>
			</div>
			<div class="modal-body" id="ModalAddOwner">

			</div>
			<div class="modal-footer">
			</div>
		</div>

	</div>
</div>


<!--Add group Owner-->
<div class="modal fade" id="myAddManager" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Create new faculty</h4>
			</div>
			<div class="modal-body" id="ModalAddManager">

			</div>
			<div class="modal-footer">
			</div>
		</div>
	</div>
</div>
