@model WebApplication.Models.Group

@{
	ViewBag.Title = "Edit";
	Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="row page-titles">
	<div class="col-md-5 col-8 align-self-center">
		<h3 class="text-themecolor">@WebApplication.Resources.Resource.Mygroup</h3>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="javascript:void(0)">@WebApplication.Resources.Resource.Group</a></li>
			<li class="breadcrumb-item active">@WebApplication.Resources.Resource.Edit</li>
		</ol>
	</div>
</div>


<div class="card card-outline-danger">
	<div class="card-header" style="color:black"><h2> <strong>Edit Group</strong> </h2></div>
	<div class="card-body">
		<form action="~/Group/Edit" method="post" onsubmit="EditSuccess()">
			<div class="form-body">
			
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Group Name</label>
						<input type="text" name="GroupName" class="form-control" value="@Model.GroupName">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Group Description</label>
						<input type="text" name="GroupDescription" class="form-control" value="@Model.GroupDescription">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Group Type</label>
						<select class="form-control" name="GroupType" disabled>
							@if (Model.GroupType == true)
							{
								<option value="true" selected>Public Group</option>
							}
							else
							{
								<option value="false" selected>Private Group</option>
							}
						</select>
					</div>
				</div><div class="col-md-6">
					<div class="form-group">
						<label>Group parent</label>
						<select class="form-control" name="GroupParent" disabled>
							<option value="@Model.Group2.ID" selected>@Model.Group2.GroupName</option>
						</select>
					</div>
				</div>
				@Html.HiddenFor(m => m.ID, new { Value = Model.ID})
				@Html.HiddenFor(m => m.GroupParent, new { Value = Model.Group2.ID })
				@Html.HiddenFor(m => m.GroupType, new { Value = Model.GroupType })
				<div class="form-actions">
					<button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Edit</button>
					@Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-inverse" })
				</div>
			</div>
		</form>
	</div>
</div>
<script>
	function EditSuccess() {
		Cookies.set('just_edit', 'true');
	}
</script>
