
@{
	ViewBag.Title = "Import";
	Layout = "~/Views/Shared/_MainLayout.cshtml";

	var ListStudent = TempData["Excelstudent"] as List<WebApplication.Models.User>;
	int i = 1;
}



<div class="row page-titles">
	<div class="col-md-5 col-8 align-self-center">
		<h3 class="text-themecolor">@WebApplication.Resources.Resource.Group</h3>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="javascript:void(0)">@WebApplication.Resources.Resource.Group</a></li>
			<li class="breadcrumb-item active">@WebApplication.Resources.Resource.Import</li>
		</ol>
	</div>
</div>


<div class="card card-outline-danger">
	<div class="card-header" style="color:black">Import Student</div>
	<div class="card-body">
		<form action="~/Group/ReadExcel" method="post" class="form-inline" enctype="multipart/form-data">
			<div class="col-md-5">
				<div class="form-control">
					<input type="file" id="fileupload" name="fileupload" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" onchange="upload()" />
				</div>
			
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-3">
						<input type="submit" value="Preview" id="PreviewDiv" class="btn btn-default btn-block" disabled />
					</div>
					<div class="col-md-3">
						@if (ListStudent != null)
						{
							<input type="button" value="Import" id="ImportDiv" class="btn btn-default btn-block" onclick="window.location ='/GroupManagement/Group/InsertExcelData';" />
						}
						else
						{
							<input type="button" value="Import" id="ImportDiv" class="btn btn-default btn-block" disabled />
						}
					</div>
					<div class="col-md-3">

						<a href="~/Content/ImportExcelTemplate.xlsx" class="btn btn-warning" download="ImportExcelTemplate.xlsx">Template</a>
					</div>
					<div class="col-md-3">
						<input type="button" value="Back" class="btn btn-default btn-block" onclick="window.location='/GroupManagement/Group/Detail/@Session["GroupID"]';" />
					</div>

				</div>
			</div>
		</form>
	</div>
	<br />
	@if (ListStudent != null)
	{
		<div class="table-responsive m-t-40">
			<table id="example23" class="display table table-hover table-striped table-bordered" cellspacing="0" style="width:100%">
				<thead>
					<tr>
						<th style="text-align:center">No.</th>
						<th style="text-align:center">StID</th>
						<th colspan="2" style="text-align:center">Full Name</th>
						<th style="text-align:center">Gender</th>
						<th style="text-align:center">DoB</th>
						<th style="text-align:center">PoB</th>
						<th style="text-align:center">Email</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in ListStudent)
					{
						<tr>
							<td style="text-align:center" >@(i++)</td>
							<td>
								@item.StID
							</td>
							<td style="text-align:left"> 
								@item.LastName  
							</td>
							<td style="text-align:left">
								@item.FirstName
							</td>
							<td style="text-align:center">
								@if (item.Gender == true)
								{
									<p>1</p>
								}
								else
								{
									<p>0</p>
								}
							</td>
							<td style="text-align:center">
								@item.DoB.Value.ToShortDateString()
							</td>

							<td style="text-align:left">
								@item.PlaceofBirth
							</td>
							<td style="text-align:left;white-space:unset">
								@item.Email
							</td>
						</tr>
					}
				</tbody>

			</table>
		</div>
	}

</div>


<script src="~/Content/assets/jquery.min.js"></script>
<script type="text/javascript">
	function upload() {
		if (document.getElementById("fileupload").files.length > 0) {
			document.getElementById("PreviewDiv").disabled = false;
		}
		else {
			document.getElementById("PreviewDiv").disabled = true;
		}
	}

	$(document).ready(function () {
		$('#example23').DataTable({
			ordering: false,
			paging: false,
			dom: 'Bfrtip',
			autoWidth: true,
			buttons: [
				'copy', 'excel', 'pdf', 'print'
			],
			columnDefs: [
				{ "width": "20%", "targets": 0 }
			],

		});
	})
</script>


