
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using System.Collections
@using WebApplication.Models

@section head{
	@Styles.Render("~/Content/Tree.css")
}
@section scripts{
	@Scripts.Render("~/Scripts/tree.js")
}
@model List<Group>
<div class="row page-titles">
	<div class="col-md-5 col-8 align-self-center">
		<h3 class="text-themecolor">@WebApplication.Resources.Resource.Mygroup</h3>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="javascript:void(0)">@WebApplication.Resources.Resource.Group</a></li>
			<li class="breadcrumb-item active">@WebApplication.Resources.Resource.Mygroup</li>
		</ol>
	</div>
</div>
<div class="card card-outline-danger">
	<div class="card-header" style="color:black">@WebApplication.Resources.Resource.Mygroup </div>
		<div id="frm-author" class="panel-body">
			<div class="tree">
				@{ Html.RenderPartial("~/Views/Partial/PublicGroup.cshtml", Model); }
			</div>
			<div class="tree">
				@{ Html.RenderPartial("~/Views/Partial/PrivateGroup.cshtml", Model); }
			</div>

		</div>
	</div>
<script src="~/Content/assets/jquery.min.js"></script>
<script>
	$(document).ready(function () {
		var justSubmitted = Cookies.get('just_delete');
		if (justSubmitted) {
			swal({
				title: "Deleted!",
				text: "This group has been deleted.",
				type: "success",
				closeOnConfirm: true
			});
			Cookies.remove('just_delete');
		}

		var justEdit = Cookies.get('just_edit');
		if (justEdit) {
			swal({
				title: "Edit!",
				text: "Edit Successful",
				type: "success",
				closeOnConfirm: true
			});
			Cookies.remove('just_edit');
		}
	});
</script>