@using WebApplication.Helpers
@using WebApplication.Models
@{
	ViewBag.Title = "Index";
	Layout = null;
	var user = ViewBag.User as WebApplication.Models.User;
}
@section head{
	@Styles.Render("~/Content/Tree.css")
}

@model List<Group>
@for (var i = 0; i < Model.Count; i++)
{

	if (Model[i].GroupType == false)
	{
		if (Model[i].GroupParent == null)
		{
			if (Model[i].Group1.Count > 0)
			{
				var ahref = "hide" + @Model[i].ID;
				<li>
					<div class="parent">
						<div class="pull-right child">
							@Html.NoEncodeActionLink("<span class='glyphicon glyphicon-plus'></span>", "Create", "Create", "Group", new { id = Model[i].ID }, new { @class = "btn btn-primary btn-lg" })
						</div>
						<a class="a-with-children" href="#@ahref" data-toggle="collapse">
							@Html.CheckBox(@Model[i].GroupName, false, new { @value = Model[i].ID, @class = "tree-checkbox parent" })
							<label for=@Model[i].ID>
								@Html.DisplayFor(list => list[i].GroupName)
							</label>
						</a>
					</div>
					<ul>
						<div id="@ahref" class="panel-collapse collapse in">
							@{
								Html.RenderPartial("~/Views/Partial/PrivateGroup.cshtml", Model[i].Group1.ToList());
							}
						</div>
					</ul>
				</li>
			}
			else
			{
				<li>
					<div class="parent">
						<div class="pull-right child">
							@Html.NoEncodeActionLink("<span class='glyphicon glyphicon-plus'></span>", "Create", "Create", "Group", new { id = Model[i].ID }, new { @class = "btn btn-primary btn-lg" })
						</div>
						<a>
							@Html.CheckBox(@Model[i].GroupName ?? "1", false, new { @value = Model[i].ID, @class = "tree-checkbox parent" })
							<label for=@Model[i].ID>
								@Html.DisplayFor(list => list[i].GroupName)
							</label>
						</a>
					</div>
				</li>
			}
		}
		else

		if (Model[i].Users.Contains(user))
		{
			{

				if (Model[i].Group1.Count > 0)
				{
					var ahref = "hide" + @Model[i].ID;
					<li>
						<div class="parent">
							<div class="pull-right child">
								@if (Model[i].Users1.Contains(user))
								{
									@Html.NoEncodeActionLink("<span class='glyphicon glyphicon-pencil '></span>", "Edit", "Edit", "Group", new { id = Model[i].ID }, new { data_modal = "", @class = "btn btn-success btn-lg" })
									@Html.NoEncodeActionLink("<span class='glyphicon glyphicon-search'></span>", "Detail", "Detail", "Group", new { id = Model[i].ID }, new { data_modal = "", @class = "btn btn-info btn-lg" })
									<a class="btn btn-warning btn-lg" title="Delete" onclick="DeletePrivate(@Model[i].ID)">
										<span class='glyphicon glyphicon-trash'></span>
									</a>
								}
								else
								{
									@Html.NoEncodeActionLink("<span class='glyphicon glyphicon-search'></span>", "Detail", "Detail", "Group", new { id = Model[i].ID }, new { data_modal = "", @class = "btn btn-info btn-lg" })
								}
							</div>
							<a class="a-with-children" href="#@ahref" data-toggle="collapse">
								@Html.CheckBox(@Model[i].GroupName, false, new { @value = Model[i].ID, @class = "tree-checkbox parent" })
								<label for=@Model[i].ID>
									@Html.DisplayFor(list => list[i].GroupName)
								</label>
							</a>
						</div>
						<ul>
							<div id="@ahref" class="panel-collapse collapse in">
								@{
									Html.RenderPartial("~/Views/Partial/PublicGroup.cshtml", Model[i].Group1.ToList());
								}
							</div>
						</ul>
					</li>
				}
				else
				{
					<li>
						<div class="parent">
							<div class="pull-right child">
								@if (Model[i].Users1.Contains(user))
								{
									@Html.NoEncodeActionLink("<span class='glyphicon glyphicon-pencil '></span>", "Edit", "Edit", "Group", new { id = Model[i].ID }, new { data_modal = "", @class = "btn btn-success btn-lg" })
									@Html.NoEncodeActionLink("<span class='glyphicon glyphicon-search'></span>", "Detail", "Detail", "Group", new { id = Model[i].ID }, new { data_modal = "", @class = "btn btn-info btn-lg" })
									<a class="btn btn-warning btn-lg" title="Delete" onclick="DeletePrivate(@Model[i].ID)">
										<span class='glyphicon glyphicon-trash'></span>
									</a>
								}
								else
								{
									@Html.NoEncodeActionLink("<span class='glyphicon glyphicon-search'></span>", "Detail", "Detail", "Group", new { id = Model[i].ID }, new { data_modal = "", @class = "btn btn-info btn-lg" })
								}
							</div>
							<a>
								@Html.CheckBox(@Model[i].GroupName ?? "1", false, new { @value = Model[i].ID, @class = "tree-checkbox parent" })
								<label for=@Model[i].ID>
									@Html.DisplayFor(list => list[i].GroupName)
								</label>
							</a>
						</div>
					</li>
				}
			}
		}
	}
}
<script>
	function DeletePrivate (index) {
		swal({
			title: "Are you sure?",
			text: "You will not be able to recover this group",
			type: "warning",
			showCancelButton: true,
			confirmButtonColor: "#DD6B55",
			confirmButtonText: "Yes, delete it!",
			closeOnConfirm: true
		}, function (isConfirm) {
			if (isConfirm) {
				Cookies.set('just_delete', 'true');
				$.ajax({
					type: "POST",
					url: "/GroupManagement/Group/DeletePrivateGroup?id=" + index,
					contentType: "application/json; charset=utf-8",
					dataType: "json",
					success: function () {
						location.reload();
					}
				});
			}
		});
	}
</script>

@section scripts{
	@Scripts.Render("~/Scripts/tree.js")
}