@using WebApplication.Helpers
@using WebApplication.Models

@{
	ViewBag.Title = "Index";
	Layout = null;
}
@section head{
	@Styles.Render("~/Content/Tree.css")
}
@section scripts{
	@Scripts.Render("~/Scripts/tree.js")
}
@model List<Group>
@for (var i = 0; i < Model.Count; i++)
{
	if (Model[i].GroupType == true)
	{
		if (Model[i].GroupParent == null)
		{
			if (Model[i].Group1.Count > 0)
			{
				var ahref = "hide" + @Model[i].ID;
				<li>
					<div class="parent">
						<div class="pull-right child">
							@Html.NoEncodeActionLink("<span class='glyphicon glyphicon-plus'></span>", "Create", "CreateGroup", "Group", new { id = Model[i].ID }, new { @class = "btn btn-primary btn-lg" })
							@*@Html.NoEncodeActionLink("<span class='glyphicon glyphicon-sort-by-alphabet'></span>", "Sort ascending", "Sort", "Activities", new { id = Model[i].ID, sort = "asc" }, new { data_modal = "", @class = "btn btn-danger btn-lg" })
								@Html.NoEncodeActionLink("<span class='glyphicon glyphicon-sort-by-alphabet-alt'></span>", "Sort descending", "Sort", "Activities", new { id = Model[i].ID, sort = "desc" }, new { data_modal = "", @class = "btn btn-danger btn-lg" })*@
						</div>
						<a class="a-with-children" href="#@ahref" data-toggle="collapse" aria-expanded="false">
							@Html.CheckBox(@Model[i].GroupName, false, new { @value = Model[i].ID, @class = "tree-checkbox parent" })
							<label for=@Model[i].ID>
								@Html.DisplayFor(list => list[i].GroupName)
							</label>
						</a>
					</div>
					<ul>
						<div id="@ahref" class="panel-collapse collapse in">
							@{
								Html.RenderPartial("~/Views/Partial/PublicGroup.cshtml", Model[i].Group1.ToList());
							}
						</div>
					</ul>
				</li>
			}
			else
			{
				<li>
					<div class="parent">
						<div class="pull-right child">
							@Html.NoEncodeActionLink("<span class='glyphicon glyphicon-plus'></span>", "Create", "CreateGroup", "Group", new { id = Model[i].ID }, new { @class = "btn btn-primary btn-lg" })
							@*@Html.NoEncodeActionLink("<span class='glyphicon glyphicon-sort-by-alphabet'></span>", "Sort ascending", "Sort", "Activities", new { id = Model[i].ID, sort = "asc" }, new { data_modal = "", @class = "btn btn-danger btn-lg" })
								@Html.NoEncodeActionLink("<span class='glyphicon glyphicon-sort-by-alphabet-alt'></span>", "Sort descending", "Sort", "Activities", new { id = Model[i].ID, sort = "desc" }, new { data_modal = "", @class = "btn btn-danger btn-lg" })*@
						</div>
						<a>
							@Html.CheckBox(@Model[i].GroupName ?? "1", false, new { @value = Model[i].ID, @class = "tree-checkbox parent" })
							<label for=@Model[i].ID>
								@Html.DisplayFor(list => list[i].GroupName)
							</label>
						</a>
					</div>
				</li>
			}
		}
		else
		{
			if (Model[i].Group1.Count > 0)
			{
				var ahref = "hide" + @Model[i].ID;
				<li>
					<div class="parent">
						<div class="pull-right child">
							@Html.NoEncodeActionLink("<span class='glyphicon glyphicon-plus'></span>", "Create", "CreateGroup", "Group", new { id = Model[i].ID }, new { @class = "btn btn-primary btn-lg" })
							@Html.NoEncodeActionLink("<span class='glyphicon glyphicon-pencil '></span>", "Edit", "Edit", "Group", new { id = Model[i].ID }, new { data_modal = "", @class = "btn btn-success btn-lg" })
							@Html.NoEncodeActionLink("<span class='glyphicon glyphicon-search'></span>", "Detail", "Detail", "Group", new { id = Model[i].ID }, new { data_modal = "", @class = "btn btn-info btn-lg" })
							<a class="btn btn-warning btn-lg" title="Delete" onclick="deletegroup(@Model[i].ID)">
								<span class='glyphicon glyphicon-trash'></span>
							</a>
							</div>
						<a class="a-with-children" href="#@ahref" data-toggle="collapse" aria-expanded="false">
							@Html.CheckBox(@Model[i].GroupName, false, new { @value = Model[i].ID, @class = "tree-checkbox parent" })
							<label for=@Model[i].ID>
								@Html.DisplayFor(list => list[i].GroupName)
							</label>
						</a>
					</div>
					<ul>
						<div id="@ahref" class="panel-collapse collapse in">
							@{
								Html.RenderPartial("~/Views/Partial/PublicGroup.cshtml", Model[i].Group1.ToList());
							}
						</div>
					</ul>
				</li>
			}
			else
			{
				<li>
					<div class="parent">
						<div class="pull-right child">
							@Html.NoEncodeActionLink("<span class='glyphicon glyphicon-plus'></span>", "Create", "CreateGroup", "Group", new { id = Model[i].ID }, new { @class = "btn btn-primary btn-lg" })
							@Html.NoEncodeActionLink("<span class='glyphicon glyphicon-pencil '></span>", "Edit", "Edit", "Group", new { id = Model[i].ID }, new { data_modal = "", @class = "btn btn-success btn-lg" })
							@Html.NoEncodeActionLink("<span class='glyphicon glyphicon-search'></span>", "Detail", "Detail", "Group", new { id = Model[i].ID }, new { data_modal = "", @class = "btn btn-info btn-lg" })
							<a class="btn btn-warning btn-lg" title="Delete" onclick="deletegroup(@Model[i].ID)">
								<span class='glyphicon glyphicon-trash'></span>
							</a>
							</div>
						<a>
							@Html.CheckBox(@Model[i].GroupName ?? "1", false, new { @value = Model[i].ID, @class = "tree-checkbox parent" })
							<label for=@Model[i].ID>
								@Html.DisplayFor(list => list[i].GroupName)
							</label>
						</a>
					</div>
				</li>
			}
		}
	}
}
<div class="modal fade" id="myDeleteGroup" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Delete Group</h4>
			</div>
			<div class="modal-body" id="ModalDeleteGroup">

			</div>
			<div class="modal-footer">
			</div>
		</div>

	</div>
</div>


<script>
	function deletegroup(index) {
		var url = "/GroupManagement/Group/Delete?id=" + index;
		$("#ModalDeleteGroup").load(url, function () {
			$("#myDeleteGroup").modal("show");
		})
	}
</script>
